@charset "utf-8";
body {
    margin: 0;
    background: rgb(255, 255, 255);
    height: 200vh;
}

.navbar a {
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(209, 209, 209);
    text-shadow: black 1px 1px 2px;
}

.navbar li {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar a:hover {
    color: maroon;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: none;
    transform: scale(1.1);
}

.navbar a:active {
    color: black;
    text-shadow: none;
}

.navbar {
    width: 100%;
    background-color: rgb(255, 255, 255,0.15);
    backdrop-filter: blur(4px);
}

.header {
    background-color: maroon;
    padding: 30px;
    text-align: center;
}

.head {
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

div.dropdown-menu.show {
    /* background-color: rgb(255, 255, 255,0.15); */
    box-shadow: rgb(190, 190, 190) 3px 3px 5px;
}

@media screen and (min-width:900px) {
    nav.navbar.sticky {
        position: fixed;
        top: 0px;
        width: 100%;
    }

    .navbar {
        top: 1px;
    }

    .header {
        height: 150px;
    }
}

@media screen and (max-width: 900px) {
    nav.navbar.sticky {
        position: fixed;
        top: 0;
    }

    .navbar {
        position: fixed;
        top: 1px;
    }

    .navbar a:hover {
        color: maroon;
        transform: scale(1);
        text-shadow: none;
    }

    .navbar a:active {
        color: black;
        text-shadow: none;
    }
}
