@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

section {
  background-color: #ffffff;
}

body {
  margin: 0;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  /* color: #232323; */
  position: relative;
  /* height: 200vh; */
}

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}

a.mbr-iconfont:hover {
  text-decoration: none;
}

.article .lead p,
.article .lead ul,
.article .lead ol,
.article .lead pre,
.article .lead blockquote {
  margin-bottom: 0;
}

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
a, a:hover {
  text-decoration: none;
}

.mbr-section-title {
  font-style: normal;
  line-height: 1.3;
}

.mbr-section-subtitle {
  line-height: 1.3;
}

.mbr-text {
  font-style: normal;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-4,
.display-5,
.display-7,
span,
p,
a {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
}

b,
strong {
  font-weight: bold;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition-delay: 9999s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

textarea[type=hidden] {
  display: none;
}

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
section .mbr-background-video,
section .mbr-background-video-preview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.hidden {
  visibility: hidden;
}

.mbr-z-index20 {
  z-index: 20;
}

/*! Base colors */
.mbr-white {
  color: #ffffff;
}

.mbr-black {
  color: #111111;
}

.mbr-bg-white {
  background-color: #ffffff;
}

.mbr-bg-black {
  background-color: #000000;
}

/*! Text-aligns */
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/*! Font-weight  */
.mbr-light {
  font-weight: 300;
}

.mbr-regular {
  font-weight: 400;
}

.mbr-semibold {
  font-weight: 500;
}

.mbr-bold {
  font-weight: 700;
}

/*! Media  */
.media-content {
  flex-basis: 100%;
}

.media-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: start;
}
.media-container-row .media-size-item {
  width: 400px;
}

.media-container-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
.media-container-column > * {
  width: 100%;
}

@media (min-width: 992px) {
  .media-container-row {
    flex-wrap: nowrap;
  }
}
figure {
  margin-bottom: 0;
  overflow: hidden;
}

figure[mbr-media-size] {
  transition: width 0.1s;
}

img,
iframe {
  display: block;
  width: 100%;
}

.card {
  background-color: transparent;
  border: none;
}

.card-box {
  width: 100%;
}

.card-img {
  text-align: center;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.media {
  max-width: 100%;
  margin: 0 auto;
}

.mbr-figure {
  align-self: center;
}

.media-container > div {
  max-width: 100%;
}

.mbr-figure img,
.card-img img {
  width: 100%;
}

@media (max-width: 991px) {
  .media-size-item {
    width: auto !important;
  }

  .media {
    width: auto;
  }

  .mbr-figure {
    width: 100% !important;
  }
}
/*! Buttons */
.mbr-section-btn {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
  font-size: 0;
}

.btn {
  font-weight: 600;
  border-width: 1px;
  font-style: normal;
  margin: 0.6rem 0.6rem;
  white-space: normal;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}

.btn-sm {
  font-weight: 600;
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out;
}

.btn-md {
  font-weight: 600;
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out;
}

.btn-lg {
  font-weight: 600;
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out;
}

.btn-form {
  margin: 0;
}
.btn-form:hover {
  cursor: pointer;
}

nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem;
}

/*! Btn icon margin */
.btn .mbr-iconfont,
.btn.btn-sm .mbr-iconfont {
  order: 1;
  cursor: pointer;
  margin-left: 0.5rem;
  vertical-align: sub;
}

.btn.btn-md .mbr-iconfont,
.btn.btn-md .mbr-iconfont {
  margin-left: 0.8rem;
}

.mbr-regular {
  font-weight: 400;
}

.mbr-semibold {
  font-weight: 500;
}

.mbr-bold {
  font-weight: 700;
}

[type=submit] {
  -webkit-appearance: none;
}

/*! Full-screen */
.mbr-fullscreen .mbr-overlay {
  min-height: 100vh;
}

.mbr-fullscreen {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/*! Map */
.map {
  height: 25rem;
  position: relative;
}
.map iframe {
  width: 100%;
  height: 100%;
}

/*! Scroll to top arrow */
.mbr-arrow-up {
  bottom: 25px;
  right: 90px;
  position: fixed;
  text-align: right;
  z-index: 5000;
  color: #ffffff;
  font-size: 22px;
}

.mbr-arrow-up a {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 60px;
  width: 60px;
  border: 2px solid #fff;
  outline-style: none !important;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
}
.mbr-arrow-up a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.mbr-arrow-up a i {
  line-height: 60px;
}

.mbr-arrow-up-icon {
  display: block;
  color: #fff;
}

.mbr-arrow-up-icon::before {
  content: "›";
  display: inline-block;
  font-family: serif;
  font-size: 22px;
  line-height: 1;
  font-style: normal;
  position: relative;
  top: 6px;
  left: -4px;
  transform: rotate(-90deg);
}

/*! Arrow Down */
.mbr-arrow {
  position: absolute;
  bottom: 45px;
  left: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.mbr-arrow > a {
  display: inline-block;
  text-decoration: none;
  outline-style: none;
  -webkit-animation: arrowdown 1.7s ease-in-out infinite;
          animation: arrowdown 1.7s ease-in-out infinite;
  color: #ffffff;
}
.mbr-arrow > a > i {
  position: absolute;
  top: -2px;
  left: 15px;
  font-size: 2rem;
}

#scrollToTop a i::before {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 2.5px solid #fff;
  border-left: 2.5px solid #fff;
  width: 27.8%;
  height: 27.8%;
  left: 50%;
  top: 51%;
  transform: translateY(-30%) translateX(-50%) rotate(135deg);
}

@keyframes arrowdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes arrowdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (max-width: 500px) {
  .mbr-arrow-up {
    left: 0;
    right: 0;
    text-align: center;
  }
}
/*Gradients animation*/
@keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  to {
    background-position: 100% 0%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}
@-webkit-keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  to {
    background-position: 100% 0%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}
.bg-gradient {
  background-size: 200% 200%;
  animation: gradient-animation 5s infinite alternate;
  -webkit-animation: gradient-animation 5s infinite alternate;
}

.menu .navbar-brand {
  display: -webkit-flex;
}
.menu .navbar-brand span {
  display: flex;
  display: -webkit-flex;
}
.menu .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
}
.menu .navbar-brand .navbar-logo img {
  display: -webkit-flex;
  width: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu .navbar-toggleable-sm .navbar-nav {
    display: -ms-flexbox;
  }
}
@media (max-width: 991px) {
  .menu .navbar-collapse {
    max-height: 93.5vh;
  }
  .menu .navbar-collapse.show {
    overflow: auto;
  }
}
@media (min-width: 992px) {
  .menu .navbar-nav.nav-dropdown {
    display: -webkit-flex;
  }
  .menu .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-flex !important;
  }
  .menu .collapsed .navbar-collapse {
    max-height: 93.5vh;
  }
  .menu .collapsed .navbar-collapse.show {
    overflow: auto;
  }
}
@media (max-width: 767px) {
  .menu .navbar-collapse {
    max-height: 80vh;
  }
}

.nav-link .mbr-iconfont {
  margin-right: 0.5rem;
}

.navbar {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
  /* background-color: rgb(255, 255, 255,0.15);
  backdrop-filter: blur(4px); */
}

.navbar-collapse {
  -webkit-flex-basis: 100%;
  -webkit-flex-grow: 1;
  -webkit-align-items: center;
}

.nav-dropdown .link {
  padding: 0.667em 1.667em !important;
  margin: 0 !important;
}

.nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.justify-content-center {
  -webkit-justify-content: center;
}

.form-inline {
  display: -webkit-flex;
}

.card-wrapper {
  -webkit-flex: 1;
}

.carousel-control {
  z-index: 10;
  display: -webkit-flex;
}

.carousel-controls {
  display: -webkit-flex;
}

.media {
  display: -webkit-flex;
}

.form-group:focus {
  outline: none;
}

.jq-selectbox__select {
  padding: 7px 0;
  position: relative;
}

.jq-selectbox__dropdown {
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0 !important;
  width: 100% !important;
}

.jq-selectbox__trigger-arrow {
  right: 0;
  transform: translateY(-50%);
}

.jq-selectbox li {
  padding: 1.07em 0.5em;
}

input[type=range] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.modal-dialog .carousel-inner {
  height: calc(100vh - 1.75rem);
}
@media (max-width: 575px) {
  .modal-dialog .carousel-inner {
    height: calc(100vh - 1rem);
  }
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  margin: auto;
}

.navbar-toggler {
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}

.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer !important;
}

.card-img {
  width: auto;
}

.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
}

.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}

.dropup .dropdown-toggle::after {
  display: none;
}

.form-asterisk {
  font-family: initial;
  position: absolute;
  top: -2px;
  font-weight: normal;
}

.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0.357em;
  padding: 0;
}

.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
  text-align: center;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}

.form-control {
  background-color: #ffffff;
  background-clip: border-box;
  color: #232323;
  line-height: 1rem !important;
  height: auto;
  padding: 0.6rem 1.2rem;
  transition: border-color 0.25s ease 0s;
  border: 1px solid transparent !important;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
}
.form-active .form-control:invalid {
  border-color: red;
}

form .row {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
}
form .row [class*=col] {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

form .mbr-section-btn {
  margin: 0;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

form .btn {
  display: flex;
  padding: 0.6rem 1.2rem;
  margin: 0;
}

form .form-check-input {
  margin-top: 0.5;
}

textarea.form-control {
  line-height: 1.5rem !important;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-control,
form .btn {
  min-height: 48px;
}

.gdpr-block label span.textGDPR input[name=gdpr] {
  top: 7px;
}

.form-control:focus {
  box-shadow: none;
}

:focus {
  outline: none;
}

.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

blockquote {
  font-style: italic;
  padding: 3rem;
  font-size: 1.09rem;
  position: relative;
  border-left: 3px solid;
}

ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mb-4 {
  margin-bottom: 0.2rem !important;
}

@media (min-width: 992px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .row {
    /* margin-left: -16px; */
    /* margin-right: -16px; */
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .row > [class*=col] {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mbr-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .mbr-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.card-wrapper,
.item-wrapper {
  overflow: hidden;
}

.app-video-wrapper > img {
  opacity: 1;
}
.engine {
	position: absolute;
	text-indent: -2400px;
	text-align: center;
	padding: 0;
	top: 0;
	left: -2400px;
}

.firstheader {
    font-size: 1.6rem;
}

.content2 {
  overflow-x: auto;
}

section.menu.cid-s48OLK6784.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

.slidshow {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.vimi {
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: rgb(88, 0, 0);  */
}

.card-title {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.card-text {
  color: #5e6569;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
}

@media (min-width:991px) {
  .card {
    padding: 50px;
  }
  .card2 {
    margin: 50px !important;
  }
}

@media (max-width:991px) {
  .card {
    padding: 30px;
  }
}

.card2 {
  margin: 25px;
  background-color: rgb(231, 231, 231);
  box-shadow: silver 3px 3px 3px;
  width: 180px;
  border-radius: 100px;
}

.card-body2 {
  padding-top: 55px;
  padding-bottom: 55px;
}

.card-text2 {
  color: rgb(177, 177, 177);
  font-size: smaller;
}

.card-title2 {
  font-size: 40px;
  margin-top: -15px;
  font-weight: bold;
}

.card2:hover {
  background-color: rgb(83, 0, 0);
  color: white;
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
/* background: #151414; */
background: rgb(63, 0, 0);
position: relative;
}
.footer-cta {
border-bottom: 2px solid rgb(87, 0, 0);
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: rgb(255, 255, 255);
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
padding-top: 30px;
padding-bottom: 30px;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.youtube-bg{
background: red;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
color: white;
text-transform: capitalize;
}
.copyright-area{
background-color: rgb(87, 0, 0);
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: white;
font-weight: bold;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

.about {
  background-color: #520000;
  padding: 50px;
}

#about_heading {
  color: white;
  font-weight: bold;
}

#about_details {
  color: white;
  font-weight: 700;
}

.schoolmap {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 25px;
  width: 95%;
}

#schoolmap_heading {
  padding-top: 48px;
  font-weight: bold;
}

@media (min-width:991px) {
  .schoolmap img {
    width: 65%;
  }

  .message_heading {
    width: 100%;
  }

  .connect {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
  }

  .address {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

@media (max-width:991px) {
  .connect {
    margin: 50px;
  }

  .address {
    margin: 50px;
  }
}

@media (max-width:760px) {
  div.col-xl-4.col-lg-4.col-md-4.col-sm-12.class_title_create {
    margin-bottom: 50px !important;
  }

  div.col-xl-4.col-lg-4.col-md-4.col-sm-12.class_title_join {
    margin-top: 40px !important;
  }
}

@media (min-width:760px) {
  .message_heading {
    margin-left: 120px;
    margin-right: 120px;
  }

  .footer-section .container .footer-cta .fcm {
    padding: 0px;
  }

  .footer-section .container .footer-cta .fcm .cta-text {
    margin-top: 10px;
    padding: 0px;
  }

  .footer-section .container .footer-cta .fcm .single-cta i {
    padding-right: 100%;
  }

  .footer-section .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.sendmessage {
  margin: 15px;
}

.message_heading {
  margin-bottom: 25px;
}

#message_heading {
  font-weight: bold;
}

.googlemap {
  margin: 50px;
  max-width: 100%;
}

.connect,
.address {
  background-color: #e7e7e7;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 25px;
}

#phone,
#fax,
#mail,
#address1 {
  font-weight: bold;
}

#phone_number,
#fax_number,
#mail_address,
#lane,
#location,
#division {
  color: #323435;
  padding-left: 35px;
}

.footer-text p {
  color: white;
  font-weight: bold;
}

.footer-logo {
  margin-bottom: 0px;
}

.footer-content {
  padding-bottom: 15px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

.quiz-window {
  left:0;
  right:0;
  margin: auto;
  width: 800px;
  border-radius: 4px;
  background: #fff;
}

.quiz-window2 {
  left:0;
  right:0;
  margin: auto;
  width: 700px;
  border-radius: 4px;
  background: #fff;
}

.quiz-window li {
  padding-bottom: 20px;
}

.quiz-window-header {
  padding: 20px 15px;
  text-align:center;
  position: relative;
}

.quiz-window-body {
  background-color: #f9f9f9;
}

.guiz-awards-row {
  margin:0;
  list-style: none;
}

.guiz-awards-row:after {
  content: '';
  display: table;
  clear:both;
}

.guiz-awards-row-even {
  background-color: #fff;
}

.guiz-awards-row li {
  display:inline-block;
  /* vertical-align: top; */
}

.guiz-awards-header {
  text-align: center;
  background-color: white;
}

.guiz-awards-header li {
  float: left;
}

.guiz-awards-star, .guiz-awards-track, .guiz-awards-time,
.guiz-awards-header-star, .guiz-awards-header-track, .guiz-awards-header-time{
  min-width: 54px;
  text-align: center;
  width: 35%;
}

.guiz-awards-header-star3 {
  min-width: 54px;
  text-align: center;
  width: 35%;
}

.guiz-awards-star2, .guiz-awards-header-star, .guiz-awards-header-star2 {
  min-width: 54px;
  text-align: center;
  width: 20%;
}

.guiz-awards-star4, .guiz-awards-header-star4 {
  min-width: 54px;
  text-align: center;
  width: 15%;
}

.guiz-awards-header-title4, .guiz-awards-title4 {
  min-width: 54px;
  text-align: center;
  width: 15%;
}

.guiz-awards-header-time2, .guiz-awards-time2 {
  width: 0%;
  text-align: center;
}

.guiz-awards-title {
  width: 30%;
  min-width: 160px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 3px;
}

.guiz-awards-title2 {
  width: 30%;
  min-width: 160px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 3px;
}

.guiz-awards-header-title {
  width: 30%;
  min-width: 160px;
}
.guiz-awards-subtitle {
  color: #858585;
  font-size: 14px;
  font-weight: 500;
}
.guiz-awards-track, .guiz-awards-time {
  width: 22%;
  min-width: 80px;
  font-size: 18px;
  line-height: 45px
}

.guiz-awards-track2, .guiz-awards-header-track2 {
  width: 25%;
  min-width: 80px;
  font-size: 18px;
  padding-bottom: 10px;
}

.guiz-awards-track3, .guiz-awards-header-track3 {
  width: 40%;
  min-width: 80px;
  font-size: 18px;
  padding-bottom: 10px;
}

.guiz-awards-header-track, .guiz-awards-header-time {
  width: 20%;
  min-width: 80px;
}

.guiz-awards-track .null, .guiz-awards-time .null {
  color:#bababa;
}

.star {
  display:block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.goldstar {
  border: 4px solid;
  border-color: #790000 !important;
  background: #520000 !important;  
}

.star .num {
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: bold;
  margin-top: 12px;
}

.guiz-awards-star p.num2 {
  color: #000000;
  font-weight: bold;
  margin-top: 9px;
}

.silverstar {
  border-color: #557e3a;
  background: #66931f;  
}
.bronzestar {
  border-color: #998247;
  background: #aa984b;  
}
.rhodiumstar {
  border-color: #743a7f;
  background: #a0409d;
}
.platinumstar {
  border-color: #10393b;
  background: #2b5770;
}

.guiz-awards-buttons {
  background: #fff;
  text-align: center;
  padding: 20px 0;
}

.guiz-awards-star2 p.num2,
.guiz-awards-track,
.guiz-awards-star4 p.num2 {
  font-weight: bold;
}

@media (max-width:991px) {
  .quiz-window {
    margin-left: auto;
    margin-right: auto;
  }

  .quiz-window2 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* PARALLAX */

.parallax_body {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.parallax_card {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.411);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.parallax_card h3 {
  color: whitesmoke;
  line-height: 40px;
}

.parallax_card p {
  font-weight: 700;
  color: white;
  line-height: 22px;
}

#parallax {
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
}

@media (max-width:920px) {
  .parallax_card {
    width: 90%;
    padding: 15px;
  }

  .parallax_card h3 {
    font-size: 25px;
  }

  .parallax_card p {
    font-size: 15px;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* STAFFS */

.container3 {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.cid-ssVGyA3zVo {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
  margin-bottom: 25px;
}

.cid-ssVGyA3zVo .content-wrapper {
  box-shadow : silver -3px 3px 3px;
  border-radius: 15px;
}

@media (max-width: 991px) {
  .cid-ssVGyA3zVo .content-wrapper .row {
    flex-direction: column-reverse;
  }
  
  .cid-ssVGyA3zVo .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }

  .container3 {
    max-width: 90%;
    padding: 0;
  }
}

h3.card-title {
  font-size: 1.4rem;
}

@media (max-width:920px) {
  h3.card-title {
    font-size: 2.2rem;
  }
}

@media (max-width: 767px) {
  .cid-ssVGyA3zVo .content-wrapper {
    padding: 1rem;
  }

  h3.card-title {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cid-ssVGyA3zVo .content-wrapper {
    padding: 2rem;
  }
}

@media (min-width: 992px) {
  .cid-ssVGyA3zVo .content-wrapper {
    border-radius: 15px;
    padding: 1.5rem 1.2rem;
  }
  .cid-ssVGyA3zVo .content-wrapper .text-wrapper2 {
    text-align: right;
    padding-right: 2rem;
  }
}
.cid-ssVGyA3zVo .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-ssVGz4bN7n {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
  margin-bottom: 25px;
}
.cid-ssVGz4bN7n .content-wrapper {
  box-shadow : silver 3px 3px 3px;
  border-radius: 15px;
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-ssVGz4bN7n .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ssVGz4bN7n .content-wrapper {
    padding: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cid-ssVGz4bN7n .content-wrapper {
    padding: 2rem;
  }
}

@media (min-width: 992px) {
  .cid-ssVGz4bN7n .content-wrapper {
    padding: 1.5rem 1.2rem;
  }

  .cid-ssVGz4bN7n .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}

.cid-ssVGz4bN7n .image-wrapper img {
  width: 100%;
  object-fit: cover;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

div.study_tools a img {
  width: 150px !important;
}

div.study_tools a img:hover {
  transform: scale(1.3);
}

div.study_tools .row > [class*=col] {
  padding-bottom: 50px;
}

.modal-content {
  background-color: #520000;
  border-radius: 15px;
}

div.modal-content div.modal-header h4.modal-title,
div.modal-content div.modal-header button.close,
div.modal-content div.modal-body ul li a {
  color: white;
  font-weight: bold;
}

div.modal-content div.modal-body {
  padding: 25px;
  padding-left: 50px;
}

div.modal-content div.modal-body ul {
  color: white;
}

div.modal-content div.modal-body ul li a:hover {
  color: #ff5e14;
}

div.papers .oe,
div.papers .pdf {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  background-color: #e7e7e7;
  border-radius: 10px;
  margin-bottom: 25px;
}

div.events div.row div.images img{
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

div.events div.row div.details p {
  font-size: 1rem;
}

div.events div.row div.details #subtitle,
div.events div.row div.details #subtitle2,
div.events div.row div.details #subtitle3 {
  text-transform:uppercase;
  font-size: 1.5rem;
}

div.events div.row div.details #paragraph,
div.events div.row div.details #paragraph2,
div.events div.row div.details #paragraph3 {
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 600; 
  text-align: left;
  line-height: 22px;
  color: #5c5c5c;
  font-size: 0.9rem;
}

div.mb-3 div.card-header {
  background-color: #e7e7e7;
  border-bottom: none !important;
}

div.mb-3 div.card-header a h3 i {
  font-size: 2rem;
  float: right;
}

.tab {
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 95%;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 300;
  color: black;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}
.tabs li {
  float: left;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.tabs a {
  background-color: #ffffff;
  border-bottom: 1px solid #fff;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.6rem;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #520000;
}

.tab a:hover {
  color: #ff5e14;
}

.tabs_item {
  display: none;
  padding: 30px 0;
}

.tabs_item h4 {
  font-weight: bold;
  color: #520000;
  font-size: 1.4rem;
  padding-bottom: 10px;
}

.tabs_item p {
  font-weight: 600; 
  text-align: justify;
  line-height: 22px;
  color: #5c5c5c;
  font-size: 0.9rem;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.tabs_item img {
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width:992px) {
  .tabs_item img {
    margin-bottom: 15px;
  }
}

.tabs_item:first-child {
  display: block;
}

.current a {
  color: #fff;
  background: #520000;
}

.classroom {
  background-color: #520000;
  color: white;  
  padding: 35px;
}

#class_title h3#create {
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

#class_title h3#join {
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

#class_title a.create {
  background-color: white;
  color: #520000;
  font-weight: 600;
  padding: 10px;
}

#class_title a.create:hover {
  background-color: #ff5e14;
  color: white;
  border-radius: 25px;
  transition: ease-in 0.4s;
}

div.classroom div.row div#or {
  margin-top: auto;
  margin-bottom: auto;
}

div.classroom div.row div#or h5 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  width: 50px;
  height: 50px;
  background-color: #790000;
  margin-bottom: 0px;
  color: #ffffff;
  border-radius: 100%;
  font-weight: bold;
  border: white 3px solid;
}

div.programmes {
  padding: 35px;
}

div.programmes h3 {
  font-weight: 600;
  text-align: center;
  padding-bottom: 25px;
}

#txtSearch {
  width: 70%;
  height: 30px;
}

#search {
  margin-top: 10px;
  height: 45px;
  width: 90px;
  color: #520000;
  font-weight: 600;
  border: none;
}

#search:hover {
  background-color: #ff5e14;
  color: white;
  border-radius: 25px;
  transition: ease-in 0.4s;
}

#prin li {
  color: black;
  font-weight: 500;
}

div.col-xl-3.col-lg-3.col-md-6.col-sm-12.programme_video {
  margin-bottom: 25px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* News Page */

body.news_page {
  background-color: rgb(24, 24, 24);
  /* background-color: #520000 !important; */
}

div.news_page_01 {
  background-color: white;
  padding: 35px;
}

div.news_page_02 {
  background-color: rgb(24, 24, 24);
  /* background-color: #520000 !important; */
  padding: 35px;
}

h1.off-news {
  color: #8b8b8b;
  /* color: #ffffff !important; */
}

div.news_page_01 h4#news_title {
  color: rgb(0, 0, 0);
  font-weight: 700;
}

div.news_page_02 h4#news_title {
  color: rgb(201, 201, 201);
  /* color: rgb(255, 255, 255) !important; */
  font-weight: 700;
}

div.news_page_01 p#news_details {
  color: rgb(44, 44, 44);
  margin-bottom: 0px;
}

div.news_page_02 p#news_details {
  color: rgb(255, 255, 255);
  /* color: rgb(255, 189, 189) !important; */
  margin-bottom: 0px;
}